@model SchoolDatabase.Models.Teacher

<Style>
body{
    background:#1111;
}

  

   
.card{
        background: #ffffff;
        padding:16px;
        border-radius:20px;
}

        
</Style>
<div class="card">
<h1>@Model.teacherfname @Model.teacherlname</h1>
<hr>
    <a href="/TeacherPage/List">Back to List</a> <a class="alert-warning" href="/TeacherPage/DeleteConfirm/@Model.teacherid">Delete</a>
<p>Empoly Number: @Model.employeenumber</p>
<p>Hire Date: @Model.hiredate.ToString("yyyy-M-d")</p>
<p>Salary: @Model.salary.ToString()</p>
</div>
